{% extends 'user/master.html' %}
{% block header %}
<style>
    .card
    {
      width: 447px;
      height: 600px;
      color: #fff;
      top: 50%;
      left:50%;
      position:absolute;
      box-sizing: border-box;
      padding: 31px 40px;
      border:1px solid black;
      transform: translate(-50%,-50%);
      background: black;
    
    }
    

</style>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>User Sign up</h1>
            <strong>sign up any time!</strong><br>
          </div>
  
          <form method="POST" >
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputname" class="form-label">Name</label>
              <input type="text" class="form-control" id="InputName"  name="name" >
              
  
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1"  name="email" >
             
  
            </div>
            <div class="mb-3">
              <label for="exampleInputmobile" class="form-label">Mobile</label>
              <input type="number" class="form-control" id="inputmobile" name="mobile" >

  
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
              
  
            </div>
  
            <button type="submit" class="btn btn-primary">signup</button>
            {{status}}
          </form>
          <a style="color:blue;margin-top:10px; " href="{% url 'user:login' %}">already registered? click to login</a>
        </div>
  
      </div>
  
    </div>
  </div>
  

{% endblock %}